body {
  margin-top: 40px;
}
.add_button_space {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
}

.my_Color {
  color: red;
}

.radio_style {
  display: flex;
}

.form_size {
  width: 30%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


input[type="radio"]{
  margin: 0 10px 0 10px;
}



input[type="checkbox"]{
  margin: 0 10px 0 10px;
}